body {
  margin: 0;
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--text-color);
}

a {
  color: var(--highlight-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
